@{
    ViewData["Title"] = "Acceso Denegado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-center">
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <h6 class="text-danger">No tienes permisos para ver este recurso</h6>
    <img src="~/images/AccesoDenegado.png" alt="Acceso denegado" style="width:600px; height:400px;"/>
</div>
